body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 1.75rem;
  line-height: 100%;
}

/* Button link */
.btn-link {
  text-decoration: none;
  color: white;
  background-color: #5ab946;
  padding: 1rem 0;
  margin: 0 5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.btn-link:hover {
  background-color: #4a9c3d;
}

/* Back btn */
.back {
  display: flex;
  align-items: center;
}

.back svg {
  width: 1.5rem;
}

.back a {
  text-decoration: underline;
  color: black;
  font-size: 1.1rem;
}

/* Dark Mode */
body.dark {
  background-color: #1f1f1f;
  color: #bfbfbf;
}

body.dark .back a,
body.dark .back svg {
  color: white;
}
