footer {
  text-align: center;
  margin-top: 7rem;
}

footer .footer-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 25rem) {
  footer .footer-flex {
    flex-direction: column;
    gap: 0;
  }
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: underline;
  color: black;
}

/* Dark Mode */
body.dark footer a {
  color: #bfbfbf;
}
