header {
  background-color: black;
}

header .container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

svg {
  color: white;
  width: 2rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.open-menu {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
