header {
  background-color: #f58733;
  padding: 1.7rem 0;
}

header .container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.9rem;
}

@media (max-width: 23.4375rem) {
  header .container {
    flex-direction: column-reverse;
    gap: 0.75rem;
  }
}

header h1 {
  margin-bottom: 0;
}

header svg {
  color: white;
  width: 2rem;
}

header li {
  list-style: none;
}

header ul {
  padding: 0;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .open-menu {
  cursor: pointer;
}

header a {
  color: white;
  text-decoration: none;
}
