.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.1rem solid black;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}

.slider button:hover {
  background-color: hsla(0, 0%, 0%, 0.8);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
