.info-day {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 59.375rem) {
  .info-day {
    flex-direction: column;
    justify-content: center;
  }
}

.info-day h2 {
  text-align: center;
}

.info-day p {
  margin: 3rem 0;
}
