.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.menu__hidden {
  display: none;
}

.active-link {
  color: hsl(202, 100%, 50%);
}

.menu svg {
  color: white;
  width: 2rem;
}

.menu li {
  list-style: none;
}

.menu ul {
  padding: 0;
}

.menu .open-menu {
  cursor: pointer;
}
