.spotArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  gap: 3.5rem;
  padding: 2rem 0;
  padding-bottom: 4rem;
  border-bottom: 0.05rem solid black;
}

.spotArticle:nth-child(odd) {
  flex-direction: row;
}

.spotArticle:nth-child(even) {
  flex-direction: row-reverse;
}

.spotArticle:last-child {
  border-bottom: none;
}

.spotArticle h1 {
  margin-bottom: 2rem;
}

.spotArticle img {
  width: 100%;
}

/* Dark Mode */
body.dark .spotArticle {
  border-bottom: 0.05rem solid white;
}

body.dark .spotArticle:last-child {
  border-bottom: none;
}
