.spotArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.spotArticle:nth-child(odd) {
  flex-direction: row;
}

.spotArticle:nth-child(even) {
  flex-direction: row-reverse;
}

.spotArticle figure {
  max-width: 45rem;
}

.spotArticle img {
  width: 100%;
}
