article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

article:nth-child(odd) {
  flex-direction: row;
}

article:nth-child(even) {
  flex-direction: row-reverse;
}

article figure {
  max-width: 45rem;
}

article img {
  width: 100%;
}
