.theme-switcher {
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.theme-switcher button {
  border: 0;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.theme-switcher button:hover {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark .theme-switcher button {
  background-color: white;
  color: #1f1f1f;
}

body.dark .theme-switcher button:hover {
  background-color: #1f1f1f;
  color: white;
}
